<!--game search handlebars-->

<div class="views-box container justify-content-center">

    <form class="mt-4 search-box" method="post" action="/gamesearch">
        <div class="form-row align-items-center">
            <div class="col-8">
                <input class="form-control form-control-lg" type="text" name="game" placeholder="Search for a game">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
        </div>
    </form>

     <div class="content-box jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 user-header">Game Results</h1>
            <div id="game-results">
                {{#each games}}
                    <div class="col games-cols">
                        <div class="card w-75 games-result-card">
                            <div class="card-body">
                                <h3 class="card-title" name="name">{{name}}</h3>
                                <img name="game-image" src={{image}}>
                                <form method="get" action="/create-game/{{name}}/{{id}}">
                                    <button type="submit" class="btn btn-warning" id="addGame">Add to Library</button>
                                    <input type="hidden" name="imageTag" value={{image}}>
                                </form>
                                <form method="get" action="/create-wishlist/{{name}}/{{id}}">
                                    <button type="submit" class="btn btn-warning" id="addWishList">Add to Wish List</button>
                                    <input type="hidden" name="imageTag" value={{image}}>
                                </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>


    
    