<div class="container justify-content-center">

    <div class="content-box jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col profile-tabs">
                    <div class="card profile-links-card">
                        {{#each users_id}}
                        <form method="GET" action="/username/{{id}}">
                            <button class="card-link-div btn btn-warning">
                                Profile
                            </button>
                        </form>
                        <form method="GET" action="/library/{{id}}">
                            <button class="card-link-div btn btn-warning">
                                Library
                            </button>
                        </form>
                        <form method="GET" action="/wishlist/{{id}}">
                            <button class="card-link-div btn btn-warning">
                                Wish List
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card profile-card">
                        <h3 class="card-header">{{name}}</h3>
                        <div class="card-body row">
                            <div class="col">
                                <h4 class="card-title">Info:</h4>
                                <p class="card-text">Last active on: {{last_active}}</p>
                                <form action="/message/{{id}}" method="POST">
                                    <button class="btn btn-warning" type="submit">Send a trade request!</button>
                                </form>
                                <form method="GET" action="/gamesearch">
                                    <button class="btn btn-warning" type="submit">Add a Game!</button>
                                </form>
                            </div>
                            <div class="col">
                                <img class="card-img-top" src="{{image}}" alt="user image">                
                            </div>
                        </div>
                    </div>  
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
